<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Cấu hình AutoAC</string>
			<key>footerText</key>
			<string>Bật để loại bỏ quảng cáo khó chịu trên YouTube.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.2kgt.autoac</string>
			<key>key</key>
			<string>kRemoveAds</string>
			<key>label</key>
			<string>Chặn quảng cáo</string>
			<key>PostNotification</key>
			<string>com.2kgt.autoac/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.2kgt.autoac</string>
			<key>key</key>
			<string>kFastDownload</string>
			<key>label</key>
			<string>Tải nhanh 1080p</string>
			<key>PostNotification</key>
			<string>com.2kgt.autoac/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Liên hệ</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Tham gia Telegram 2KGT</string>
			<key>action</key>
			<string>openTelegram</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>© 2026 2KGT Repo - Build with Love</string>
		</dict>
	</array>
	<key>title</key>
	<string>AutoAC</string>
</dict>
</plist>
