Package: com.yourname.sampletweak
Name: SampleTweak
Depends: mobilesubstrate
Architecture: iphoneos-arm64
Description: Một siêu phẩm mới từ lò luyện của ông giáo.
Maintainer: PhapSuAction
Author: PhapSuAction
Section: Tweaks
