Package: com.2kgt.autoac
Name: AutoAC
Version: 1.0
Architecture: iphoneos-arm64
Description: AutoAC tweak (long press + settings)
Maintainer: 2KGT
Author: 2KGT
Section: Tweaks
Depends: mobilesubstrate