Package: com.kyic.fbenhancer
Name: FBEnhancer
Depends: mobilesubstrate (>= 0.9.5000)
Version: 1.0.0
Architecture: arm64
Description: Facebook Enhancer tweak
Maintainer: Kyic
Author: Kyic
Section: Tweaks